
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.15)),url(http://media.istockphoto.com/photos/map-of-india-on-digital-display-picture-id1365550676) no-repeat !important;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}